#render-view {
  position: fixed;
  /* The reason for using 50% is due to the fact that the rendered image can
   * have a resolution different from that of the window.
   */
  top: 50%;
  left: 50%;
}

html body {
  height: 100%;
  width: 100%;
  background-color: #eee
}
