.fab-bottom-right {
    position: fixed !important;
    right: $fab-corner-spacing;
    bottom: $fab-corner-spacing;
}
.adjust-bottom-padding-for-fab {
    padding-bottom: 2 * $fab-corner-spacing + 56px;
}
