@import '@material/typography/mixins';
.markdown {
    code.hljs {
        padding: 20px 10px;
    }
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    img {
        max-width: 100%;
    }

    h1 {
        @include mdc-typography('display1');
        font-weight: 800;
        margin-top: 4rem;
    }
    h2 {
        @include mdc-typography('display3');
        margin-top: 4rem;
        font-weight: 100;
    }
    h3 {
        @include mdc-typography('headline');
        margin-top: 2.5rem;
        font-weight: 100;
        text-transform: uppercase;
    }

    h4 {
        @include mdc-typography('subheading2');
        text-transform: uppercase;
    }

    h5 {
        @include mdc-typography('subheading1');
    }

    h6 {
        @include mdc-typography('caption');
    }
    p {
        @include mdc-typography('body2');
        font-size: 15px;
        font-weight: 400;
    }
    .shortcuts-table {
        td {
            padding-bottom: 8px;
            font-weight: 400;
            &:first-child {
                width: 150px;
                text-transform: uppercase;
            }
        }
    }
    code {
        font-size: 1rem;
    }
}
