@import '@material/typography/mixins';
.markdown {
    > {
        * {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 10px;
            padding-right: 10px;
        }
        .no-center {
            max-width: 100%;
        }
        .large {
            max-width: 1700px;
        }
    }
    img {
        display: block;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    h1 {
        @include mdc-typography('display1');
        text-transform: uppercase;
    }
    h2 {
        @include mdc-typography('headline');
        text-transform: uppercase;
        margin-top: 2.5rem;
    }
    h3 {
        @include mdc-typography('title');
        margin-top: 2rem;
    }

    h4 {
        @include mdc-typography('subheading2');
    }

    h5 {
        @include mdc-typography('subheading1');
    }

    h6 {
        @include mdc-typography('caption');
    }
    p {
        @include mdc-typography('body2');
    }
    table {
        width: 100%;
    }
    .shortcuts-table {
        td {
            padding-bottom: 8px;
            &:first-child {
                width: 150px;
                text-transform: uppercase;
            }
        }
    }
}
