html, body {
	background-color: rgb(20,20,20);
	font-size: 13px;
	font-family: Helvetica, Arial;
	color: #eee;
	width: 100%;
	height: 100%;
	padding:0;
	margin:0;
}

canvas {
	position:fixed;
	top: 50%;
	left: 50%;
}

.text-right: {
	text-align: right;
}

.code-area {
	padding:0;
	background-color: rgba(20,20,20,0.9);
	border: 0 none;
	outline: none;
	overflow: auto;
	color: inherit;
	height: 100%;
}

textarea.code-area {
	font-family: "Lucida Console", Monaco, monospace;
	padding: 5px;
	margin-top: 3px;
	box-shadow: 0 0 7px 2px #888;
	width: 100%;
	height: 500px;
}

.btn {
	cursor: pointer
}

#fragment-shader {
	width: 75%;
}

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.fade-panel {
	margin-left: 2px;
	display: inline-block;
	padding: 3px 6px;
	height: 20px;
	line-height: 20px;
	background-color: rgba(20, 20, 20, 1);
	box-shadow: 0 0 3px 1px #111;
}

.tool-wrapper {
	position: relative;
	z-index: 100;
	margin-left: 7px;
	margin-right: 7px;
	top: 7px;
}
a {
	color: inherit;
	text-decoration: none;
	line-height:20px;
}

a:hover {
	color: #bbb;
}

.clear {
	clear: both;
}
